# Composer
/vendor/
composer.lock

# Logs
*.log
*.txt

# Cache
cache/
tmp/
temp/

# IDE
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# PHPStorm
*.iml

# Environment files
.env
.env.local
.env.*.local

# Config json
include/security.json
include/schema.json
include/database.json
include/dashboard.json
include/calendar.json
include/php.ini

# CodeSniffer
phpcs.phar
phpcbf.phar
includes/calendar.json
includes/dashboard.json
includes/database.json
includes/schema.json
