# Composer
/vendor/
composer.lock

# Logs
*.log
*.txt

# Cache
cache/
tmp/
temp/

# IDE
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# PHPStorm
*.iml

# Environment files
.env
.env.local
.env.*.local

# Config json
includes/*.json
includes/php.ini

# CodeSniffer
phpcs.phar
phpcbf.phar

# Files storage
storage/files/*
!storage/files/.gitkeep

# Files calude
/.claude
CLAUDE.md

# Cypress (testy lokalne — nie wysyłaj na GitHub)
cypress/
cypress.config.js
package.json
package-lock.json
node_modules/
.cypress-cache/
